@import url('https://fonts.googleapis.com/css2?family=LINE+Seed+JP&display=swap');

#root {
  margin: 0 auto;
  text-align: center;

  @apply text-sky-950 dark:text-slate-50;
  font-family: 'LINE Seed JP', sans-serif;
}